<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>Cahier de tests de $applicatioName</title>
<style type="text/css">

body,
h1,h2,h3,h4,
hr {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: sans-serif;
}

h2 {
	margin-bottom: 10px;
} 
h3 {
	margin-top: 5px;
	margin-bottom: 5px;
} 
/*
.right {
	text-align: right;
}
*/
.indente {
	margin-left: 1em;
}

.testcase {
<!--	border-bottom: 1px solid black;-->
}
</style>
</head>
<body>

<div id="index" class="indente">
	<h1><a name="index">Sommaire</a></h1>
	
	<ul>
	#foreach($service in $testplan.testedServices)
		<li><a href="#$service">$service</a></li>
	#end
	</ul>
</div>

<h1>Cas de tests</h1>
<div id="testcases" class="indente">
	<p>Ce chapitre présente les cas de tests de $applicatioName</p>
	
#foreach($service in $testplan.testedServices)
	<h2><a name="$service">$service</a></h2>
	<div class="indente">
		<p>Cette section présente les cas de tests de $service.</p>
		
	#foreach($case in $testplan.getTestCases("$service"))
		<h3>$case.name - $case.title</h3>
		<div class="indente testcase">
			
			<h4>Exigences fonctionnelles couvertes</h4>
			<div class="indente test-requirement">
			<ul>
			#foreach($requirement in $case.requirements)
				<li>$requirement</li>
			#end
			</ul>
			</div>
			
			<h4>Prerequis</h4>
			<div class="indente test-prerequisite">
			$case.prerequisite
			</div>
			
			<h4>Données en entrée</h4>
			<div class="indente test-input">
			$case.input
			</div>
			
			<h4>Résultat attendu</h4>
			<div class="indente test-result">
			$case.result
			</div>
			
			#if( $foreach.hasNext)
				<p class="right"><a href="#index">Retour au sommaire</a></p>
			#end
		</div>
	#end
		<p class="right"><a href="#index">Retour au sommaire</a></p>
	</div>
#end

</div>

</body>
</html>