<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>Cahier de tests de $applicatioName</title>
<style type="text/css">

body,
h1,h2,h3,h4,h5,h6,
hr {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: sans-serif;
	font-size: 10pt;
	
	counter-reset: title1;
}

h1 {
	text-align : center;
	margin-left: 0px;
	margin-bottom: 10px;
}

h2,h3,h4,h5,h6 {
	margin-left: -15px;
}

h2:before {
    content: counter(title1) ". ";
    counter-increment: title1;
}
h2 {
	font-size: 18pt;
	margin-bottom: 10px;
	
	counter-reset: title2;
}

h3:before {
    content: counter(title1) "." counter(title2) ". ";
    counter-increment: title2;
}
h3 {
	font-size: 16pt;
	
	counter-reset: title3;
} 

h4:before {
    content: counter(title1) "." counter(title2) "." counter(title3) ". ";
    counter-increment: title3;
}
h4 {
	font-size: 14pt;
} 
h5 {
	font-size: 12pt;
	margin-top: 5px;
}
h6 {
	font-size: 10pt;
	margin-top: 5px;
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a[name]:hover {
	text-decoration: none;
}


.indente {
	margin-left: 15px;
}

/*  */
ol {
	padding-left: 20px;
	font-weight: bold;
	list-style-type: none;
	
	counter-reset: item1;
}
ol > li:before {
	content: counter(item1) ". "; 
	counter-increment: item1;
}
ol > li {
	margin-top: 5px;
}

ol ul {
	font-weight: normal;
	list-style-type: none;
	
	counter-reset: item2; 
}
ol ul > li:before {
	content: counter(item1) "." counter(item2) ". "; 
	counter-increment: item2;
}
ol ul>li {
	margin-top : 5px;
}

ul.requirements {
	font-weight: normal;
	list-style-type: disc;
}
ul.requirements > li:before {
	content: ""; 
}

ul.requirements_cover {
	font-weight: normal;
	list-style-type: circle;
}
ul.requirements_cover > li:before {
	content: ""; 
}

/* index */
#index ol {
	padding-left: 20px;
	font-weight: bold;
	list-style-type: none;
	
	counter-reset: item1;
}
#index ol > li:before {
	content: counter(item1) ". "; 
	counter-increment: item1;
}
#index ol > li {
	margin-top: 5px;
}

#index ol ul {
	font-weight: normal;
	list-style-type: none;
	
	counter-reset: item2; 
}
#index ol ul > li:before {
	content: counter(item1) "." counter(item2) ". "; 
	counter-increment: item2;
}
#index ol ul>li {
	margin-top : 5px;
}

#index ol ul ul {
	font-weight: normal;
	list-style-type: none;
	
	counter-reset: item3; 
}
#index ol ul ul > li:before {
	content: counter(item1) "." counter(item2) "." counter(item3) ". ";
	counter-increment: item3;
}

/* requirements */
#requirements ul.services {
	list-style-type : none;
	padding-left: 10px;
}
#requirements ul.services a {
	font-weight: bold;
}
#requirements li {
	margin-top: 10px;
}

.testcase {
	margin-bottom: 10px;
}

</style>
</head>
<body>

<h1 class="doc_title">Cahier de tests de $applicatioName</h1>

<div id="index" class="indente">
	<h2>Sommaire</h2>
	<ol>
		<li><a href="#index">Sommaire</li>
		<li><a href="#requirements">Couvertures des exigences fonctionnelles
		<ul>		
			#foreach($domain in $testplan.domains)
				<li>
					<a href="#requirements_$domain.name">$domain.name</a>
					<ul>
					#foreach($service in $domain.services)
						<li>
							<a href="#requirements_$service.name">$service.name</a>
						</li>
					#end
					</ul>
				</li>
			#end
			</ul>
		</li>
		<li><a href="#testcases">Cas de tests</a>
			<ul>		
			#foreach($domain in $testplan.domains)
				<li>
					<a href="#testcases_$domain.name">$domain.name</a>
					<ul>
					#foreach($service in $domain.services)
						<li>
							<a href="#testcases_$service.name">$service.name</a>
						</li>
					#end
					</ul>	
				</li>
			#end
			</ul>
		</li>
	</ol>
</div>

<div id="requirements" class="indente">
	<h2>Couvertures des exigences fonctionnelles</h2>
	<p>Ce chapitre présente la couverture des exigences fonctionnelles de <b>$applicatioName</b></p>
	
	<ol>
		#foreach($domain in $testplan.domains)
		<li>
			<a name="requirements_$domain.name">$domain.name</a>
			<ul>
				#foreach($service in $domain.services)
				<li> 
					<a name="requirements_$service.name">$service.name</a>
					<ul class="requirements">
						#foreach($requirement in $service.requirements)
							<li>
								<a name="$requirement.code">$requirement.code : $requirement.description</a>
								<ul class="requirements_cover">
								#foreach($case in $service.getRequirementCover($requirement))
								##	<li>TODO : les cas couvrant l'exigence</li>
									<li>$case.name</li>
								#end
								</ul>
							</li>	
						#end
					</ul>
				</li>	
				#end
			</ul>
		</li>	
		#end
	</ol>
</div>

<div id="testcases" class="indente">
	<h2>Cas de tests</h2>
	<p>Ce chapitre présente les cas de tests de <b>$applicatioName</b></p>
	
#foreach($domain in $testplan.domains)
	<div id="testcases_$domain.name" class="indente">
		<h3>$domain.name</h3>
		<p>Cette section présente les cas de tests de $domain.name</p>
	
		#foreach($service in $domain.services)
			<div id="testcases_$service" class="indente">
				<h4>$service.name</h3>
				<p>Cette section présente les cas de tests de $service.name</p>
				
			#foreach($case in $service.testCases)
				<div class="indente testcase">
					<h5>$case.name - $case.title</h4>
					
					<div class="indente test-requirement">
					<h6>Exigences fonctionnelles couvertes</h6>
					<ul>
					#foreach($requirement in $case.requirements)
						<li><a href="#$requirement">$requirement : $service.getRequirement("$requirement").description</a></li>
					#end
					</ul>
					</div>
					
					<div class="indente test-prerequisite">
					<h6>Prerequis</h6>
					$case.prerequisite
					</div>
					
					<div class="indente test-input">
					<h6>Données en entrée</h6>
					$case.input
					</div>
					
					<div class="indente test-result">
					<h6>Résultat attendu</h6>
					$case.result
					</div>
					
					#if( $foreach.hasNext)
					<!--
						<p class="right"><a href="#index">Retour au sommaire</a></p>
					-->				
					#end
				</div>
			#end
				<!--
				<p class="right"><a href="#index">Retour au sommaire</a></p>
				-->
			</div>
		#end
	</div>
#end
</div>

</body>
</html>