<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>Cahier de tests de $applicatioName</title>
<style type="text/css">

body,
h1,h2,h3,h4,h5,
hr {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: sans-serif;
	font-size: 12pt;
	
	counter-reset: title1;
}

h1 {
	text-align : center;
	margin-left: 0px;
	margin-bottom: 10px;
}

h2,h3,h4,h5 {
	margin-left: -15px;
}

h2:before {
    content: counter(title1) ". ";
    counter-increment: title1;
}
h2 {
	font-size: 18pt;
	margin-bottom: 10px;
	
	counter-reset: title2;
}

h3:before {
    content: counter(title1) "." counter(title2) ". ";
    counter-increment: title2;
}
h3 {
	font-size: 16pt;
} 

h4 {
	font-size: 14pt;
} 
h5 {
	font-size: 12pt;
	margin-top: 5px;
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a[name]:hover {
	text-decoration: none;
}


.indente {
	margin-left: 15px;
}


/* index */
#index ol {
	padding-left: 20px;
	font-weight: bold;
	list-style-type: none;
	
	counter-reset: item1;
}
#index ol > li:before {
	content: counter(item1) ". "; counter-increment: item1;
}
#index ol > li {
	margin-top: 5px;
}

#index ol ul {
	font-weight: normal;
	list-style-type: none;
	
	counter-reset: item2; 
}
#index ol ul > li:before {
	content: counter(item1) "." counter(item2) ". " ; counter-increment: item2;
}
#index ol ul>li {
	margin-top : 5px;
}

/* requirements */
#requirements ul.services {
	list-style-type : none;
	padding-left: 10px;
}
#requirements ul.services a {
	font-weight: bold;
}
#requirements li {
	margin-top: 10px;
}

.testcase {
	margin-bottom: 10px;
}

</style>
</head>
<body>

<h1 class="doc_title">Cahier de tests de $applicatioName</h1>

<div id="index" class="indente">
	<h2>Sommaire</h2>
	<ol class="index_1st">
		<li><a href="#index">Sommaire</li>
		<li><a href="#requirements">Couvertures des exigences fonctionnelles
		<ul class="index_2nd">		
			#foreach($service in $testplan.testedServices)
				<li><a href="#requirements_$service">$service</a></li>
			#end
			</ul>
		</li>
		<li><a href="#testcases">Cas de tests</a>
			<ul>		
			#foreach($service in $testplan.testedServices)
				<li><a href="#testcases_$service">$service</a></li>
			#end
			</ul>
		</li>
	</ol>
</div>

<div id="requirements" class="indente">
	<h2>Couvertures des exigences fonctionnelles</h2>
	<p>Ce chapitre présente la couverture des exigences fonctionnelles de $applicatioName</p>
	
	<ul class="services">
	#foreach($service in $testplan.testedServices)
		<li>
			<a name="requirements_$service">$service</a>
			<ul>
				#foreach($requirement in $testplan.getRequirements("$service"))
					<li>
						<a name="$requirement.code">$requirement.code : $requirement.description</a>
						<ul>
						#foreach($case in $testplan.getTestCases($requirement))
							<li>$case.name</li>
						#end
						</ul>
					</li>	
				#end
			</ul>
		</li>	
	#end
	</ul>
</div>

<div id="testcases" class="indente">
	<h2>Cas de tests</h2>
	<p>Ce chapitre présente les cas de tests de $applicatioName</p>
	
#foreach($service in $testplan.testedServices)
	<div id="testcases_$service" class="indente">
		<h3>$service</h3>
		<p>Cette section présente les cas de tests de $service.</p>
		
	#foreach($case in $testplan.getTestCases("$service"))
		<div class="indente testcase">
			<h4>$case.name - $case.title</h4>
			
			<div class="indente test-requirement">
			<h5>Exigences fonctionnelles couvertes</h5>
			<ul>
			#foreach($requirement in $case.requirements)
				<li><a href="#$requirement">$requirement : $testplan.getRequirement("$requirement").description</a></li>
			#end
			</ul>
			</div>
			
			<div class="indente test-prerequisite">
			<h5>Prerequis</h5>
			$case.prerequisite
			</div>
			
			<div class="indente test-input">
			<h5>Données en entrée</h5>
			$case.input
			</div>
			
			<div class="indente test-result">
			<h5>Résultat attendu</h5>
			$case.result
			</div>
			
			#if( $foreach.hasNext)
			<!--
				<p class="right"><a href="#index">Retour au sommaire</a></p>
			-->				
			#end
		</div>
	#end
		<!--
		<p class="right"><a href="#index">Retour au sommaire</a></p>
		-->
	</div>
#end

</div>

</body>
</html>